body {
	margin: 0;
	height: 100vh;
	background-color: silver;
}

.title {
	background-color: rgb(226, 223, 223);
}

.main-title {
	font-family: 'Arimo', sans-serif;
	font-weight: 700;
	font-size: 60px;
	padding: 50px 0 50px 100px;
	margin: 0;
}

.container {
	display: flex;
	justify-content: space-between;
	padding-left: 50px;
	border: 1px solid white;
	height: 100vh;
	@media all and (width:768px) {
		margin: 100px 200px;
	}
}

.list_block {
	flex-grow: 1;
	margin-left: 20px;
	border-left: 1px solid white;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.list {
	list-style: none;
	margin: 0;
	padding: 0;

	@media all and (min-width: 750px){
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	@media all and (min-width: 900px) {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.item__list {
	width: 320px;
}

.favorites_block {
	display: flex;
	flex-direction: column;
}

.search_block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.field {
	width: 250px;
	height: 20px;
	margin: 30px 0;
	padding: 5px;
	border-radius: 5px;
	font-family: 'Arimo', sans-serif;
	font-size: 16px;
}

.btn {
	width: 100px;
	height: 30px;
	border-radius: 5px;
	font-family: 'Arimo', sans-serif;
	font-size: 14px;
	font-weight: 800;
	background-color: rgb(226, 223, 223);
	box-shadow: 0 0 15px black;
	&:hover {
		box-shadow: 0 0 8px white;
		font-size: 16px;
	}
}

.favorites_title {
	font-family: 'Arimo', sans-serif;
	font-weight: 500;
	font-size: 40px;
}

.list__favorites {
	list-style: none;
	margin: 0;
	padding: 0;
}

.item__img {
	margin-bottom: 20px;
}

.item__list {
	margin: 10px;
	border: 2px solid black;
	background-color: white;
	text-align: center;
	.item__title {
		font-family: 'Arimo', sans-serif;
		font-weight: 500;
		color:grey;
	}
}

.item__list2 {
	margin: 10px;
	border: 5px solid black;
	background-color: grey;
	text-align: center;
	.item__title {
		font-family: 'Arimo', sans-serif;
		font-weight: 500;
		color:white;
	}
}