<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>EvalFinal PatiJoe</title>
  <link rel="icon" href="favicon.png" />
  <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
  <h1 class="main-title">Buscador de pelis</h1>
  <div class="container">

    <div class="favorites_block">
      
      <div class="search_block">
        <input type="text" class="field">
        <button class="btn">SEARCH</button>
      </div>

      <ul class="list__favorites"></ul>
    </div>

    <div class="list_block">
      <ul class="list"></ul>
    </div>


  </div>


  <script src="assets/js/main.js"></script>
</body>

</html>